theme = "blowfish"
baseURL = "https://taure.github.io/novablog/"
defaultContentLanguage = "en"
languageCode = "en"

enableRobotsTXT = true
enableEmoji = true

[pagination]
  pagerSize = 20

[taxonomies]
  tag = "tags"
  series = "series"

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 0
  toLower = false

  [[related.indices]]
    name = "tags"
    weight = 100
  [[related.indices]]
    name = "series"
    weight = 50
  [[related.indices]]
    name = "date"
    weight = 10
